<!DOCTYPE html>
<html>
<head>
    <title>textpad.cc</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
    <link rel="stylesheet" type="text/css" href="templates/style.css">
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script> 
</head>
<body>
    <div id="main" class="container">
    <form method="post">
        
        <textarea name="user_text" id="user_text" class="u-full-width">{{ user_text }}</textarea>
        <input class="button-primary" id="save" type="submit" value="save">
    </form>
        
    </div>
</body>

</html>
