<!DOCTYPE html>
<html>
<head>
    <title>textpad.cc</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
    <link rel="stylesheet" type="text/css" href="templates/style.css">
    
</head>
<body>
    <form method="post">
    <textarea name="user_text" id="user_text" class="contents">{{ user_text }}</textarea>
    <input type="submit" value="Save">
    </form>
</body>
</html>